* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

.bg-light {
    width: 100%;
}

.navbar-light .navbar-brand {
    margin-right: 40px;
    font-size: 2.3rem;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
}

.nav-item {
    color: black;
    font-size: 1.5rem;
    cursor: pointer;
}

.navbar-light .navbar-nav .nav-link {
    transition: .5s ease;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: orangered;
}

.navbar-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 10px;
}

.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    text-decoration: none;
    font-weight: 500;
    transition: .5s ease;
}

.contact:hover {
    color: orangered;
}

.navbar-light .navbar-nav .nav-link.disabled {
    color: black;
    font-weight: 500;
}

.navbar-light .navbar-nav .nav-link {
    color: black;
    font-weight: 500;
}

.btn {
    background: orangered;
    color: white;
    border: none;
    display: flex;
}

.btn:hover {
    background: orangered;
    color: black;
}

.navbar {
    padding-top: 3px;
    padding-bottom: 3px;
}

.navbar-light .navbar-nav .nav-link.active {
    color: orangered;
}

span {
    color: orangered;
    font-family: 'Pangolin', cursive;
}

/* home */
.home{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
}

.home h1{
    font-size: 3.7rem;
}

/* form */
#contact {
    width: 100%;
    height: 100%;
  }

  #contact p{
    text-align: center;
    font-size: 2rem;
    color: green;
    font-weight: 700;
  }
  
  .section-header {
    text-align: center;
    margin: 0 auto;
    padding: 40px 0;
    font: 300 60px 'Oswald', sans-serif;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 6px;
  }
  
  .contact-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    padding: 20px;
    position: relative;
    max-width: 840px;
  }
  
  /* Left contact page */
  .form-horizontal {
    /*float: left;*/
    max-width: 400px;
    font-family: 'Lato';
    font-weight: 400;
  }
  
  .form-control, 
  textarea {
    max-width: 400px;
    color: black;
    letter-spacing: 1px;
    border: 2px solid black;
  }
  
  .send-button {
    margin-top: 15px;
    height: 34px;
    width: 400px;
    overflow: hidden;
    transition: all .2s ease-in-out;
  }

  .form-group{
    margin-bottom: 1rem;
  }
  
  .alt-send-button {
    width: 400px;
    height: 34px;
    transition: all .2s ease-in-out;
  }
  
  .send-text {
    display: block;
    margin-top: 10px;
    font: 700 12px 'Lato', sans-serif;
    letter-spacing: 2px;
  }
  
  .alt-send-button:hover {
    transform: translate3d(0px, -29px, 0px);
  }
  
  /* Begin Right Contact Page */
  .direct-contact-container {
    max-width: 400px;
  }
  
  /* Location, Phone, Email Section */
  .contact-list {
    list-style-type: none;
    margin-left: -30px;
    padding-right: 20px;
  }
  
  .list-item {
    line-height: 4;
    color: #aaa;
  }
  
  .contact-text {
    font: 300 18px 'Lato', sans-serif;
    letter-spacing: 1.9px;
    color: #bbb;
  }
  
  .place {
    margin-left: 62px;
  }
  
  .phone {
    margin-left: 56px;
  }
  
  .gmail {
    margin-left: 53px;
  }
  
  .contact-text a {
    color: black;
    text-decoration: none;
    transition-duration: 0.2s;
  }
  
  .contact-text a:hover {
    color: #fff;
    text-decoration: none;
  }
  
  
  /* Social Media Icons */
  .social-media-list {
    position: relative;
    font-size: 22px;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    padding: 0;
  }
  
  .social-media-list li a {
    color: #fff;
  }
  
  .social-media-list li {
    position: relative; 
    display: inline-block;
    height: 60px;
    width: 60px;
    margin: 10px 3px;
    line-height: 60px;
    border-radius: 50%;
    color: #fff;
    background-color: rgb(27,27,27);
    cursor: pointer; 
    transition: all .2s ease-in-out;
  }
  
  .social-media-list li:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    line-height: 60px;
    border-radius: 50%;
    opacity: 0;
    box-shadow: 0 0 0 1px #fff;
    transition: all .2s ease-in-out;
  }
  
  .social-media-list li:hover {
    background-color: #fff; 
  }
  
  .social-media-list li:hover:after {
    opacity: 1;  
    transform: scale(1.12);
    transition-timing-function: cubic-bezier(0.37,0.74,0.15,1.65);
  }
  
  .social-media-list li:hover a {
    color: #000;
  }
  
  .copyright {
    font: 200 14px 'Oswald', sans-serif;
    color: #555;
    letter-spacing: 1px;
    text-align: center;
  }
  
  hr {
    border-color: rgba(255,255,255,.6);
  }

  .submitmsg{
    display: none;
  }

  .gmail{
    color: #000;
  }

  .phone{
    color: #000;
  }

  .place{
    color: #000;
  }

  /* ===footer */

  .footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
    color: white;
    text-align: center;
    margin-top: 30px;
    position: absolute;
    width: 100%;
}

.footer-content a{
    color: orangered;
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
}