* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}


.bg-light {
    width: 100%;
}

.navbar-light .navbar-brand {
    margin-right: 40px;
    font-size: 2.3rem;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
}

.nav-item {
    color: black;
    font-size: 1.5rem;
    cursor: pointer;
}

.navbar-light .navbar-nav .nav-link {
    transition: .5s ease;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: orangered;
}

.navbar-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 10px;
}

.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    text-decoration: none;
    font-weight: 500;
    transition: .5s ease;
}

.contact:hover {
    color: orangered;
}

.navbar-light .navbar-nav .nav-link.disabled {
    color: black;
    font-weight: 500;
}

.navbar-light .navbar-nav .nav-link {
    color: black;
    font-weight: 500;
}

.btn {
    background: orangered;
    color: white;
    border: none;
}

.btn:hover {
    background: orangered;
    color: black;
}

.navbar {
    padding-top: 3px;
    padding-bottom: 3px;
}

.navbar-light .navbar-nav .nav-link.active {
    color: orangered;
}

span {
    color: orangered;
    font-family: 'Lato', sans-serif;
    font-family: 'Pangolin', cursive;
}

/* home */
.home {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 20px;
}

.home-head h1 {
    font-size: 3.7rem;
    font-family: 'Lato', sans-serif;
}

.home-content{
    text-align: center;
    width: 60%;
}

.home-content{
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
}

/* = box */
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.box-content{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    height: 90vh;
    margin-top: -30px;
}

.box-content img{
    width: 50%;
    height: 150px;
}

.box-head{
    margin-top: 10px;
}

.same{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    border: 4px solid black;
    border-radius: 10px;
    height: auto;
    padding: 10px 10px;
    background: rgb(231, 189, 189);
    box-shadow: 10px 10px 8px gray;
}

.box-btn{
    background: transparent;
    padding: 10px 10px;
    border-radius: 10px;
    border: 2px solid black;
    font-size: 18px;
    font-weight: 600;
    transition: .5s ease;
    margin-top: 20px;
}

.box-btn:hover{
    background: rgb(214, 148, 148);
}

.more-para{
    display: none;
}

.more-para-2{
    display: none;
}

.more-para-3{
    display: none;
}

/* === footer === */
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
    color: white;
    text-align: center;
    margin-top: 30px;
    position: absolute;
    width: 100%;
}

.footer-content a{
    color: orangered;
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
}